<div class="container bg-gray-200 rounded-lg my-20 px-3 py-5 mx-auto flex flex-wrap flex-col md:flex-row items-center shadow-2xl">
    <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
        <h1 class="my-4 text-5xl font-bold leading-tight">Dashboard</h1>
        <h3 class="leading-normal text-2xl mb-8">Welcome {{name}}</h3>
        <p class="uppercase tracking-loose w-full">Here is your data</p>
    </div>
    {{#if parties}}
    <table class="table-auto">
        <thead>
            <tr>
                <th class="px-4 py-2">Name</th>
                <th class="px-4 py-2">Type</th>
                <th class="px-4 py-2">Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each parties}}
            <tr>
                <td class="border px-4 py-2"><a href="/parties/{{_id}}">{{name}}</a></td>
                <td class="border px-4 py-2"><span>{{type}}</span></td>
                <td class="border px-4 py-2"><span>{{details}}</span></td>
                <td class="border px-4 py-2">
                    <a href="/parties/edit/{{_id}}" class="float-left mr-4"><i class="fas fa-edit"></i></a>
                    <form action="/parties/{{_id}}" method="POST" id="delete-form" class="float-right">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>You have not created any parties</p>
    {{/if}}

</div>
{{> _add_btn featureClass='parties'}}